@font-face {
    font-family: GolosText;
    src: url("/assets/golos.ttf");
}

@font-face {
    font-family: Sixtyfour;
    src: url("/assets/sixtyfour.ttf");
}

html,
body {
    font-size: 16px;
    background: url(/assets/images/tent.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: GolosText;
}

h1,
h2 {
    font-family: Sixtyfour;
    text-align: center;
}

svg {
    margin: 100px 100px 0 100px;
}

.charging-calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh auto;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    max-width: 500px;

    input {
        font-size: 16px;
        width: 20%;
    }

    button {
        background: white;
        border: none;
        width: fit-content;
        padding: 10px;
        align-self: center;
        color: black;
        font-size: 16px;
    }

    table {
        margin-top: 20px;
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        border: none;
        padding: 8px;
        text-align: left;
        font-size: 18px;
        font-weight: bold;
    }

    td {
        text-align: right;
    }

    #charging-form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .charging-form__input {
        display: flex;
        justify-content: space-between;
    }
}

.title {
    width: 98%;
    padding-top: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40%;
}

@keyframes name-anim {
    to {
        stroke-dashoffset: 0px;
    }
}

#rene {
    stroke-dasharray: 1200px;
    stroke-dashoffset: 1200px;
    animation: name-anim 3s linear 0s forwards;
}

#accentAigu {
    stroke-dasharray: 1200px;
    stroke-dashoffset: 1200px;
    animation: name-anim 3s linear 0s forwards;
    animation-delay: 3s;
}

#b {
    stroke-dasharray: 1200px;
    stroke-dashoffset: 1200px;
    animation: name-anim 3s linear 0s forwards;
    animation-delay: 4s;
}

#orner {
    stroke-dasharray: 1200px;
    stroke-dashoffset: 1200px;
    animation: name-anim 4.5s linear 0s forwards;
    animation-delay: 6s;
}
